* {
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  transition: ease-in-out 0.5s;
}
nav {
  width: 100%;
  padding: 0 10%;
  background-color: transparent;
  height: 50px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
nav .nav-logo img {
  width: 50px;
}
nav .toggler {
  width: 30px;
  cursor: pointer;
  height: 35px;
  margin-top: 7.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
nav .toggler span {
  width: 100%;
  background-color: #000;
  display: inline-block;
  height: 10%;
}
.side-bar {
  width: 0px;
  background-color: #000;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  z-index: 1000;
  overflow: hidden;
}
.side-bar a {
  text-decoration: none;
  color: white;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 4px;
  font-size: 1.5rem;
  padding: 10% 19%;
}
.side-bar a:hover {
  text-decoration: none;
  color: #9ba0f2;
  background-color: #3b3d5f;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 4px;
  font-size: 1.5rem;
  padding: 20% 19%;
}
.side-bar .nav-close {
  display: inline-block;
  align-self: flex-end;
  width: 50px;
  cursor: pointer;
  height: 50px;
}
.side-bar .nav-close span {
  display: inline-block;
  width: 100%;
  height: 10%;
  background-color: #fff;
  border-radius: 10px;
  transform: rotate(45deg) translate(-36%);
}
.side-bar .nav-close .first-close {
  transform: rotate(-45deg) translate(-36%);
}
.nav-blocker {
  width: 0%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  position: fixed;
  z-index: -1;
  transition: 0.4s;
  left: 0;
  top: 0;
  cursor: pointer;
}
.first .img-cont .f1st-img {
    width: 949px;
  display: none;
}
.first .img-cont .t2nd-img {
  width: 700px;
  display: none;
}
.first .img-cont .t3rd-img {
  width: 550px;
  display: none;
}
.first .img-cont .f4th-img {
  width: 300px;
}
.first .text-cont h1 {
  font-size: 450%;
  text-align: center;
  font-weight: 700;
  font-family: "Mada", sans-serif;
}
.first .text-cont p {
  font-size: 200%;
  padding: 0 10%;
  text-align: center;
  font-weight: 200;
  font-family: "Shadows Into Light", cursive;
}
@media (max-width: 1199px) {
  .first .text-cont h1 {
    font-size: 4.5rem;
  }
}
@media (max-width: 991px) {
  .first .text-cont h1 {
    font-size: 3.75rem;
  }
}
@media (max-width: 767px) {
  .first .text-cont h1 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .first .text-cont p {
    font-size: 1.875rem;
  }
}
@media (max-width: 1199px) {
  .first .text-cont p {
    font-size: 200%;
  }
}
@media (max-width: 991px) {
  .first .text-cont p {
    font-size: 190%;
  }
}
@media (max-width: 767px) {
  .first .text-cont p {
    font-size: 180%;
  }
}
@media (max-width: 612px) {
  .first .text-cont p {
    font-size: 170%;
  }
}
.body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
.scroll {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.second .img-cont img{
    display: inline-block;
    transform: translate(-39% ,14%);
    z-index: -4;
    width: 180%;
    margin:  auto;
}
.z-index{
    z-index: 3;
}
  @media (max-width: 991px) {
    .second .img-cont img{
        width: 219%; 
        transform: translate(-49% ,18%);
      }
  }
  @media (max-width: 767px) {
    .second .img-cont img{
        width: 180%;
        transform: translate(-39% ,14%);
    }
  }
  .body::-webkit-scrollbar {
    display: none;
}
.body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
  .second .text-cont h2{
    font-size: 3.5rem;
  }

@media (max-width: 1199px) {
  .second .text-cont h2{
    font-size: 3.5rem;
  }
}
@media (max-width: 991px) {
  .second .text-cont h2{
    font-size: 2.75rem;
  }
}
@media (max-width: 767px) {
  .second .text-cont h2{
    font-size: 2rem;
  }
}

.second .text-cont{
  justify-content: space-evenly;
  height: 100vh;
}
.second .text-cont a{
  background-image: linear-gradient(to right, #84abec, #cf84fb);
  width: 193px;
  text-align: center;
  border-radius: 1234567px;
  padding: 11px;
  color: white;
  text-decoration: none;
}























