* {
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  z-index: 4;
  transition: ease-in-out 0.5s;
}
.body {
  overflow-x: clip;
  width: 98.3vw;
  margin: 50px auto;
  z-index: -2109387;
}
nav {
  width: 100%;
  padding: 0 10%;
  background-color: white;
  height: 50px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 4413233;
}
nav .nav-logo img {
  width: 50px;
}
nav .toggler {
  width: 30px;
  cursor: pointer;
  height: 35px;
  margin-top: 7.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
nav .toggler span {
  width: 100%;
  background-color: #000;
  display: inline-block;
  height: 10%;
}
.side-bar {
  width: 0px;
  background-color: #000;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  z-index: 1000;
  overflow: hidden;
}
.side-bar a {
  text-decoration: none;
  color: white;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 4px;
  font-size: 1.5rem;
  padding: 10% 19%;
}
.side-bar a:hover {
  text-decoration: none;
  color: #9ba0f2;
  background-color: #3b3d5f;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 4px;
  font-size: 1.5rem;
  padding: 20% 19%;
}
.side-bar .nav-close {
  display: inline-block;
  align-self: flex-end;
  width: 50px;
  cursor: pointer;
  height: 50px;
}
.side-bar .nav-close span {
  display: inline-block;
  width: 100%;
  height: 10%;
  background-color: #fff;
  border-radius: 10px;
  transform: rotate(45deg) translate(-36%);
}
.side-bar .nav-close .first-close {
  transform: rotate(-45deg) translate(-36%);
}
.nav-blocker {
  width: 0%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  position: fixed;
  z-index: -1;
  transition: 0.4s;
  left: 0;
  top: 0;
  cursor: pointer;
}
.first .img-cont .f1st-img {
  width: 949px;
  display: none;
}
.first .img-cont .t2nd-img {
  width: 700px;
  display: none;
}
.first .img-cont .t3rd-img {
  width: 550px;
  display: none;
}
.first .img-cont .f4th-img {
  width: 300px;
}
.first .text-cont h1 {
  font-size: 450%;
  text-align: center;
  font-weight: 700;
  font-family: "Mada", sans-serif;
}
.first .text-cont p {
  font-size: 200%;
  padding: 0 10%;
  text-align: center;
  font-weight: 200;
  font-family: "Shadows Into Light", cursive;
}
.second .img-cont img {
  display: inline-block;
  transform: translate(-39%, 14%);
  z-index: -4;
  width: 180%;
  margin: auto;
}
.second .text-cont {
  justify-content: space-evenly;
  height: 100vh;
  position: relative;
}
.second .text-cont a {
  background-image: linear-gradient(to right, #84abec, #cf84fb);
  width: 193px;
  text-align: center;
  border-radius: 1234567px;
  padding: 11px;
  color: white;
  text-decoration: none;
}
.body::-webkit-scrollbar {
  display: none;
}
.body {
  -ms-overflow-style: none !important;
  scrollbar-width: none;
}
.second .text-cont h2 {
  font-size: 3.5rem;
  padding: 20px 0;
}
.second .text-cont img {
  left: -3%;
  position: absolute;
  top: 9%;
  width: 30%;
  z-index: -100;
}

.second .img-cont .img {
  display: inline-block;
  transform: translate(-5%, 39%);
  z-index: -4;
  width: 159%;
  margin: auto;
}
.changeable {
  transform: translate(0, 20%);
  font-size: 1.4rem;
  font-weight: 500;
  width: 70%;
  color: white;
}
.zamelyny {
  font-family: "Oleo Script Swash Caps", cursive;
  transform: translate(13%, 16%);
}
.diff {
  width: 101%;
  height: 350px;
  transform: translate(-24%, 0);
  background-color: white;
  border-radius: 50% 0 0 50%;
  margin: auto;
}
.diff::after {
  content: "";
  width: 208%;
  background-color: white;
  height: 100%;
  top: 0%;
  left: 312px;
  position: absolute;
  z-index: -20;
}
.black-button {
  transform: translate(39%, 44%);
  background-image: none !important;
  background-color: black;
  display: inline-block;
}
.image {
  display: inline-block;
  width: 220px;
  overflow: clip;
  box-shadow: 0px 0px 8px 5px #9377ab;
  border-radius: 58px;
  height: 320px;
  margin-top: 10%;
}
.slider {
  display: flex;
  width: 250vw;
  justify-content: space-evenly;
  margin-top: 5%;
}
.image:hover img {
  filter: blur(0px);
  transform: scale(1.3) rotate(-15deg);
  opacity: 0.7;
}
.image img {
  filter: blur(5px);
  width: 213%;
  margin: 0 -45%;
  height: 100%;
}
.buttons .i {
  font-size: 6rem;
}
.text {
  margin: 176px 0 0 19px;
  position: relative;
}
.text img {
  position: absolute;
  z-index: -1;
  top: -102%;
  left: -3%;
  width: 176PX;
}
footer .foot{
margin-top: 30px;
  background-color: #2b2933;
  padding: 30px;
  color: white;
}footer .foot .row .col-md-6{
  padding: 20px 0;
}
footer .foot .img{
width: 100px;
}
.contact{
  padding: 10px 15%;
}
footer .foott{
  font-size: 0.7rem;
color: white;
padding: 20px;
  background-color: #333333;
}
footer .foott a{
font-size: 0.7rem;
color: red;
text-decoration: none;

}
footer .foott a:hover{
  font-size: 0.8rem;
  color: #a0fbff;
  text-decoration: underline;
  }
@media (max-width: 1199px) {
  .text img {
  position: absolute;
  z-index: -1;
  top: -102%;
  left: -3%;
  width: 176PX;
}
  .first .text-cont p {
    font-size: 200%;
  }
  .first .text-cont h1 {
    font-size: 4.5rem;
  }
  .second .text-cont h2 {
    font-size: 3.5rem;
  }
  .zamelyny {
    transform: translate(18%, 17%);
  }
}
.body {
  height: 100vh;
  width: 98vw;
  overflow-x: clip;
}
@media (max-width: 991px) {
  .text img {
    position: absolute;
    z-index: -1;
    top: -102%;
    left: -3%;
    width: 176PX;
  }
  .first .text-cont h1 {
    font-size: 3.75rem;
  }
  .first .text-cont p {
    font-size: 190%;
  }
  .second .text-cont h2 {
    font-size: 2.75rem;
  }
  .second .img-cont img {
    width: 219%;
    transform: translate(-49%, 18%);
  }
  .second .img-cont .img {
    width: 200%;
  }
  .changeable {
    font-size: 1rem;
  }
  .body {
    height: 100vh;
    width: 97.4vw;
  }
}
@media (max-width: 787px) {
  .text img {
    position: absolute;
    z-index: -1;
    top: -63%;
    left: -2%;
    width: 114PX;
  }
  .first .text-cont p {
    font-size: 180%;
  }
  .text {
    margin: 116px 0 0 19px;
    position: relative;
  }
  .second .img-cont .img {
    width: 100%;

    margin: 3% 0% -2% 23%;
    transform: translate(0, 0);
  }
  .first .text-cont h1 {
    font-size: 3rem;
  }
  .second .text-cont h2 {
    font-size: 2rem;
  }
  .second .img-cont img {
    width: 169%;

    transform: translate(0, 0);
    margin: 14% 0% 0% -76%;
  }
  .second .text-cont {
    height: auto;
  }
  .body {
    width: 96.4vw;
  }
  .second .text-cont h2,
  .second .text-cont p,
  .second .text-cont a {
    margin: 20px 0;
  }
  .second .text-cont h2 {
    margin-top: 50px !important;
  }
  .second .text-cont img {
    left: -7%;
    width: 25%;
    top: -1%;
  }

  .diff {
    margin-top: 10%;
    width: 73%;
    height: 300px;
    transform: translate(15%, 5%);
    background-color: white;
    border-radius: 50% 0 0 50%;
  }
  .diff::after {
    left: 180px;
  }
}
@media (max-width: 612px) {
  .text img {
    position: absolute;
    z-index: -1;
    top: -31%;
    left: -3%;
    width: 100PX;
  }
  .changeable {
    font-size: 0.8rem;
  }
  .first .text-cont p {
    font-size: 170%;
  }
  .overflow-clip {
    overflow: clip;
  }
  .second .text-cont img {
    left: -3%;
    width: 19%;
    top: 8%;
  }
  .second .img-cont img.alot {
    width: 144%;
    transform: translate(0, 0);
    margin: 15% 0% 0% -29%;
  }
}
@media (max-width: 500px) {
  .first .text-cont p {
    font-size: 1.875rem;
  }
}
@media (max-width: 400px) {
  .text img {
    position: absolute;
    z-index: -1;
    top: -31%;
    left: -3%;
    width: 100PX;
  }
  .second .text-cont img {
    left: -4%;
    width: 28%;
    top: 6%;
  }
}
